[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]

[packages]
botocore = ">=1.15"
onelogin = "*"
keyring = "*"
ipify = "*"
requests = "==2.20.1"
urllib3 = "==1.24.3"

[requires]
python_version = ">=3.5"
